<div class="form-content">
    <form class="form" action="#" [formGroup]="forgotPasswordForm" (submit)="onSubmit()">
      <div class="form-head">
        <span><img src="../../../assets/icons/education.svg"></span>
        <span class="title">Forgot &nbsp; Password</span>
      </div><br>
      <div class="row-content">
        <label class="label text" for="emailId">User Name</label>
        <div class="row">
          <input class="input" type="email" id="emailId" name="emailId" placeholder="Your Email Id" formControlName="emailId" required>
          <span class="error-output" *ngIf="forgotPasswordForm.controls['emailId'].invalid && forgotPasswordForm.controls['emailId'].touched">
            <span *ngIf="forgotPasswordForm.controls['emailId'].errors.required">
              Email Id is required
            </span>
          </span> 
        </div>
      </div><br>
      <div class="button-content">
          <button type="submit" class="button submitButton" [disabled]="!forgotPasswordForm.valid">SUBMIT</button>
      </div>
    </form>
</div>
<app-footer></app-footer>