<app-header></app-header>
<!--    if cartSize is equal to Zero    -->
<div class="cart-empty" *ngIf="cartSize === 0" fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="10px"
    style="padding-top: 15%;">
    <img class="book-img" src="../../../assets/icons/bookicon/education.png" />

    <div style="font-weight: bold;"> Your Cart Is Empty ! </div>
    <div> Add books to it now </div>
    <div>
        <button class="shop-now" mat-button (click)="onShowNow()">
            Shop Now
        </button>
    </div>
</div>
<!--    if cartSize is greater than Zero    -->
<div *ngIf="cartSize > 0" fxLayout="column" fxLayoutGap="10%" style="padding-left: 10%; padding-top: 10%;">
    <!-- cart detail -->
    <mat-card>
        <div fxLayout="column">
            <span class="my-cart"> My Cart({{ cartSize }})</span>
            <div fxLayout="row" fxLayoutAlign="space-around start" *ngFor="let cartBook of cartBooks">
                <!--fxLayout="row" -->
                <!-- fxLayout="column" style="margin-right: 30%;" -->
                <div class="grid-container">
                    <!-- <div> -->
                    <img src="{{ cartBook.book.image }}" class="grid-image" />
                    <!-- </div> -->
                    <div class="grid-item">
                        <span style="font: normal normal normal 16px/19px Lato; font-weight: bold;">{{
                            cartBook.book.bookName }}</span> <br />
                        <span class="author-name">by {{ cartBook.book.authorName }}</span> <br />
                        <span style="font: normal normal bold 15px/18px Lato;">₹ {{ cartBook.book.price }}</span>
                    </div>

                </div><br /><br />
                <!--fxLayout="row" -->
                <!---Need to work here -->
                <div class="input-group" fxLayout="row" fxLayoutGap="10%" fxLayoutAlign="start center">
                    <!--remove button-->
                    <button mat-mini-fab class="button-minus" (click)="removeQuantity(cartBook)"
                        fxLayoutAlign="center start">
                        <mat-icon fxLayoutAlign="center center" style="color: black; font-size: xx-small;">remove
                        </mat-icon>
                    </button> &nbsp;&nbsp;
                    <!--input number-->
                    <input mat-input type="number" class="quantity-field" (input)="onKey($event,cartBook)" max="5"
                        min="1" value="{{ cartBook.orderQuantity }}" />&nbsp;&nbsp;
                    <!--add button-->

                    <button mat-mini-fab class="button-plus" (click)="addQuantity(cartBook)"
                        fxLayoutAlign="center start">
                        <mat-icon fxLayoutAlign="center center" style="color: black; font-size: xx-small;">add
                        </mat-icon>
                    </button> &nbsp;&nbsp;

                    <button mat-button style="font: normal normal normal 14px/17px Lato; font-weight: bold;"
                        class="button-remove" (click)="removeFromCart(cartBook)" fxLayoutAlign="center center">
                        Remove
                    </button>
                </div>
            </div>
            <div fxLayoutAlign="end">
                <button mat-button (click)="onPlaceOrder()" class="button-placeorder" fxLayoutAlign="center center">
                    <span style="font-size: small; height: 10px; color: white; padding-bottom: 10%;">PLACE ORDER</span>
                </button>
            </div>
        </div>

        <!---Need to work till here -->
    </mat-card>
    <!--    Customer details -->
    <mat-card class="form">
        &nbsp;
        <span style="font: normal normal normal 16px/19px Lato; font-weight: bold;">Customer Details</span>
        <span fxLayoutAlign="end" style="float:right;" *ngIf="show" (click)="onedit()">Edit</span>
        <ng-container *ngIf="show">
            <div style="margin: 0 auto; text-align: left;">
                <br />
                <form [formGroup]="addressGroup" (ngSubmit)="continue()">
                    <mat-form-field appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="enter name" formControlName="fullName" id="name" required #Myname
                            (input)="(Myname.value)" style="background: none;" />
                    </mat-form-field><br /><br />

                    <div class="row1">
                        <mat-form-field appearance="outline">
                            <mat-label>Phone Number</mat-label>
                            <input matInput placeholder="enter phone number" formControlName=" phoneNumber" id="phone"
                                required #Myphn (input)="(Myphn.value)" style="background: none;" />
                        </mat-form-field><br /><br />
                    </div>
                    <mat-form-field appearance="outline">
                        <mat-label>Pin code</mat-label>
                        <input matInput placeholder="enter pincode" formControlName="pinCode" id="pincode" required
                            #Mypin (input)="(Mypin.value)" style="background: none;" />
                    </mat-form-field>

                    <div class="row2">
                        <mat-form-field appearance="outline">
                            <mat-label>Locality</mat-label>
                            <input matInput placeholder="enter locality" formControlName="locality" id="locality"
                                required #Mylocal (input)="(Mylocal.value)" style="background: none;" />
                        </mat-form-field><br /><br />
                    </div>
                    <br /><br />
                    <div class="row3">
                        <mat-form-field appearance="outline" style="width: 810px;">
                            <mat-label>Address</mat-label>
                            <textarea matInput class="row4-full-width" type="text" formControlName="address" required
                                #Myaddr (input)="(Myaddr.value)" style="background: none;"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="row5" style="margin-top: 20px;">
                        <mat-form-field appearance="outline">
                            <mat-label>City/Town</mat-label>
                            <input matInput placeholder="enter city/town" formControlName="city" id="city" required
                                #Mycity (input)="(Mycity.value)" style="background: none;" />
                        </mat-form-field><br />
                    </div>
                    <div class="row4">
                        <mat-form-field appearance="outline">
                            <mat-label>LandMark</mat-label>
                            <input matInput placeholder="enter landmark" formControlName="landMark" id="landmark"
                                required #landmark (input)="(landmark.value)" style="background: none;" />
                        </mat-form-field>
                    </div>
                    <br /><br />
                    <mat-radio-group fxLayoutGap="5%" formControlName="locationType" required>
                        <mat-radio-button value="home" (change)="selectAddrType($event)"> Home </mat-radio-button>&nbsp;
                        <mat-radio-button value="work" (change)="selectAddrType($event)"> Work </mat-radio-button>&nbsp;
                        <mat-radio-button value="other" (change)="selectAddrType($event)"> Other </mat-radio-button>
                        &nbsp;
                    </mat-radio-group>
                    <br /><br />
                    <div fxLayoutAlign="end">
                        <button mat-button class="button-placeorder" fxLayoutAlign="center center"
                            [disabled]="addressGroup.invalid">
                            <span style="font-size: small; height: 10px; color: white;">CONTINUE</span>
                        </button>
                    </div>
                </form>
            </div>
        </ng-container>
    </mat-card>
    <!--    Order summary -->
    <mat-card>
        <div fxLayout="column">
            <span class="my-cart">Order Summary</span>
            <div fxLayout="row" fxLayoutAlign="space-around start" *ngFor="let cartBook of cartBooks">
                <div class="grid-container" *ngIf="disp">
                    <div class="grid-image">
                        <img src="{{ cartBook.book.image }}" />
                    </div>

                    <div class="grid-item">
                        <span style="font: normal normal bold 15px/18px Lato;">{{ cartBook.book.bookName }}</span><br/>
                        <span class="author-name">by {{ cartBook.book.authorName }}</span><br/>
                        <span style="font: normal normal bold 15px/18px Lato;">₹ {{ cartBook.book.price }}</span><br/>
                    </div>
                </div>
            </div>
            <div class="total-price" fxLayoutAlign="space-between center">
                <span *ngIf="disp" style="font: normal normal bold 15px/18px Lato;"> Total Price: ₹ {{totalPrice}}</span>
                <button mat-button (click)="onCheckOut()" class="button-placeorder" fxLayoutAlign="center center"
                    *ngIf="disp">
                    <span style="font-size: small; height: 10px; color: white;">CHECK OUT</span>
                </button>
            </div>
        </div>
    </mat-card>
</div>
<br /><br /><br /><br /><br /><br /><br /><br />
<app-footer></app-footer>