.footerdata {
    padding: 1% 0;
    background: #2E1D1E 0% 0% no-repeat padding-box;
    padding-left: 13%;
    text-align: left;
    font: normal normal medium 12px/15px Lato;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    bottom: 0;
    width: 87%;
}
  