<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<mat-toolbar class="toolbar">
  <div class="toolbar-items">
    <img class="logo-image" src="assets/icons/bookicon/education.png" routerLink="../home" />

    <a class="logotext" routerLink="../home"> Bookstore</a>

    <input class="searchbox" type="search" placeholder="&#xF002; Search" />
    <a routerLink="../cart" class="cart">cart<img src="assets/icons/carticon/supermarket.png" />
    <span *ngIf="number" class="badge badge-notify">{{number.text}}</span></a>
    <a class="user-link" *ngIf="!authService.loggedIn()" routerLink="/login" routerLinkActive="active">Login</a>
    <a class="user-link" *ngIf="authService.loggedIn()" (click)="authService.logoutUser()">Logout</a>
  </div>
</mat-toolbar>