<div class="form-content">
    <form class="form" action="#" [formGroup]="resetPasswordForm" (submit)="onReset()">
      <div class="form-head">
        <span><img src="../../../assets/icons/education.svg"></span>
        <span class="title">Reset Your Password</span>
      </div><br>
      <div class="row-content">
        <label class="label text" for="newPassword">New Password</label>
        <div class="row">
          <input class="input" [type]="passwordType"
          id="newPassword" name="newPassword" placeholder="Your new password" formControlName="newPassword" required>
          <span class="error-output" *ngIf="resetPasswordForm.controls['newPassword'].invalid && (resetPasswordForm.controls['newPassword'].touched
                                            || resetPasswordForm.controls['newPassword'].dirty)">
            <span *ngIf="resetPasswordForm.controls['newPassword'].errors.required">
              Password is required
            </span>
            <span *ngIf="resetPasswordForm.controls['newPassword'].errors.pattern">
              Password length should be 8 must contain at least one uppercase, lowercase, special character and number
            </span>
          </span> 
        </div>
      </div><br>
      <div class="row-content">
        <label class="label text" for="confirmPassword">Confirm Password</label>
        <div class="row">
          <input class="input" [type]="passwordType"
          id="confirmPassword" name="confirmPassword" placeholder="Your password" formControlName="confirmPassword" required>
          <span class="error-output" *ngIf="resetPasswordForm.controls['confirmPassword'].invalid 
                                          && (resetPasswordForm.controls['confirmPassword'].touched || resetPasswordForm.controls['confirmPassword'].dirty)">
            <span *ngIf="resetPasswordForm.controls['confirmPassword'].errors.required">
              Password is required
            </span>
            <span *ngIf="resetPasswordForm.controls['confirmPassword'].errors.pattern">
              Password length should be 8 must contain at least one uppercase, lowercase, special character and number
            </span>
            <span *ngIf="resetPasswordForm.controls['confirmPassword'].errors.mustMatch">
              Both passwords should match
            </span>
          </span> 
        </div>
        <div class="checkbox">
          <input type="checkbox" (click)="changePasswordType()">Show Password 
        </div>
      </div><br>
      <div class="button-content">
        <button type="submit" class="button submitButton" [disabled]="!resetPasswordForm.valid">RESET PASSWORD</button>
    </div>
    </form>
    </div>
<app-footer></app-footer>